*{
    margin: 0;
    padding: 0;
}
body,html{
    width: 100%;
    height: auto;
    background-color:#f5f4f2;
}
.row{
    margin-right:0;
}
.noactive{
    background-color: #e7e7e7;
}
.container{
    margin: 0;
    padding: 0;
    width: 100%;
}
._nav{
    background-color: #E5DCCD !important;
}
._nab_b{
    background-color: #e7e7e7 !important;
    padding-right: 0;
}
._nab_b .navbar{
    margin-bottom: 0 !important;
}

._tap{
    background-image: url(../images/login.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 130px;
    /*height: 40px*/
}
hr{
    margin-bottom: 15px;
    margin-top: 15px;
}
.navbar-nav > li > a{
    padding-bottom: 20px;
    padding-top: 20px;
}
._login,._register{
    display: inline-block;
    padding-top: 25%;
    margin-left: 1%;
}
#sw{
    margin-top: 50px !important;
    width: 1200px;
    margin: auto;
}
._work_box{
    padding-left: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}
._work_1,._work_2{
    /*margin: 2em 5em;*/
    width: 100%;
    background-repeat: no-repeat;
    border: 15px solid darkgray;
}
/*._work_1{*/
    /*background-image: url(../images/left.jpg);*/
    /*background-size: contain;*/
/*}*/
/*._work_2{*/
    /*background-image: url(../images/right.jpg);*/
    /*/!*background-position:  10%;*!/*/
/*}*/
._work_mid{
    background-color:darkgray ;
    margin-top: 1.35em;
    margin-bottom: 2em;
    margin-left: 3em;
    padding-top: 2%;
    font-size: 20px;
    color: white;
}
._work_mid label{
    padding: 2% 1%;
    margin: 3%;
}
._work_mid span{
    float: right;
    margin: 3%;
}
._work_right1,._work_right2{
    width: 100%;
    background-color: white;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 2em;
    background-size: contain;
    background-repeat: no-repeat;
}
/*._work_right1{*/
    /*background-image: url(../images/work1.jpg);*/
/*}*/
/*._work_right2{*/
    /*background-image: url(../images/work2.jpg);*/
/*}*/
._more{
    background-color: gainsboro;
    padding: 2%;
    text-align: center;
    font-size: 40px;
    color: white;
    font-weight: 700;
    padding-bottom: 2%;
}
._work_show{
    position: relative;
}
._work .col-md-6{
    padding:0;
    margin:20px;
}
._work .col-md-5{
    position: relative;
    padding:0;
    margin:20px 0 0 20px;
}
._work .col-md-5 img{
    position: absolute;
    top:50%;
}
._work_show img{
    display: block;
    width: 80%;
    height: 400px;
    float: right;
    margin-top: 20%;
    margin-bottom: 20%;
}
._shift{
    position: absolute;
    width: 75%;
    height: 20%;
    right:15px;
    bottom: 0;
    margin-bottom: 18%;
    /*margin-bottom: 20%;*/
    background-color: black;
    opacity: 0.6;
    color: white;
    padding: 2% 5%;
    font-size: 23px;
}
._shift span{
    float: right;
    padding-right: 10%;
}
.navbar-nav > li > a{
    padding-top: 20px;
    padding-bottom: 20px;
}


/*点击登录框出现的遮罩层*/
.sft{
    position: absolute;
    height: 200vh;
    /*vh:100%*/
    width: 100%;
    z-index:3000;
    background-color: black;
    opacity: 0.7;
    top: 0;
    left: 0;
}
.works{
    width: 1200px;
    margin:auto;
    margin-bottom: 80px;
}
.works .col-md-2{
    width:260px;
    margin:20px;
    padding:0;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
}
.other-video img{
    width: 100%;
}
#work{
    margin-top: 50px;
}
.shadow,.info{
    position: absolute;
    font-size: 1.5em;
    font-weight: 500;
    padding-bottom: 0;
    padding:10px 30px;
}
.shadow{
    width: 100%;
    background-color: black;
    bottom: 0;
    opacity: 0.7;
    color: white;
}
.info{
    width: 350px;
    left: 50%;
    margin-left: -175px;
    background-color: white;
    top:30%;
    opacity: 0.357589;
    color: black;
}
.shadow span,.info span{
    float: right;
}