*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none !important;
    cursor: pointer !important;
}
body,html{
    width: 100%;
    height: auto;
    background-color:#f5f4f2;
}
.container{
    margin: 0;
    padding: 0;
    width: 100%;
}
._nav{
    background-color: #E5DCCD !important;
}
._nav a{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
._nab_b{
    background-color: #E5DCCD !important;
}
._nab_b nav{
    margin-bottom:0!important;
}
._tap{
    background-image: url(../images/login.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 130px;
    height: 40px;
}
._login,._register{
    display: inline-block;
    padding-top: 25%;
    margin-left: 1%;
}
.player{
    padding: 1.2% 17%;
    padding-bottom:1%
}
.player .col-md-7{
    border-right:1px solid grey;
}
#player{
    width: 90%;
}
.video-tab{
    display: inline-block;
    width: 33%;
     color: orangered;
}
.attation{
    border:1px solid grey;
}
.attation div{
    display: inline-block;
    width: 49%;
    text-align: center;
    padding: 3%;
}
.attation div label{
    display: block;
}
.attation div span{
    color: orangered;
}
.attation div:nth-child(1){
    border-right:1px solid grey;
}

/*购买按钮*/
.purchase{
    margin: auto;
    padding-left: 41%;
    margin-top:5%;
}
#purc:hover{
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
    transform: scale(.9);
}
#purc{
    text-align: center;
    margin: auto;
    border-radius: 5px;
    padding: 2.5% 9%;
    background-color: orange;
    color: white;
}


/*分享到qq，空间，微信等*/
.share{
    margin-left: 325px;
    margin-bottom: 30px;
}
.share img{
    width: 40px;
    margin: 0 3%;
}
.video-panel >div{
    padding: 1%;
    background-color: #fff;
}
#video-panel{
    margin-bottom: 3%;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
/*处于活动状态的面板*/
.actived{
    background-color: steelblue !important;
}

/*元素的左右上下边距*/
.both-space{
    padding: 1.2% 17%;
}

/*视频介绍区域的尺寸*/
#panel-1,#panel-2{
    background-color:#fff;
    padding: 2% 2% 4%;
    margin-top:3%;
    margin-bottom: 30px;
}

/*面板下面的小三角*/
.hid {
    height: 0;
    width: 0;
    border: 15px solid transparent;
    border-top-color: steelblue;
    left: 50%;
    position: absolute;
    bottom: -29px;
    margin-left: -20px;
    padding: 0 !important;
    opacity: 0;
}
.more{
    padding: .6% 1.5%;
    background-color: orange;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    padding: 2px 5px;
    margin-bottom:8px;
    /*position: absolute;*/
    /*right:45px;*/
}
.more:hover{
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
    transform: scale(.9);color: white;
}
/*条目的边距*/
.tab{
    padding:10px;
}
.comment{
    padding: 2px;
    color: white;
    border-radius: 4px;
    background-color: orange;
}
.comment:hover{
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
    transform: scale(.9);
    opacity:.9;
    color:white;
}
/*课程讨论区，用户的头像图片*/
/*.media-object{*/
    /*border-radius: 50%;*/
/*}*/
/*.media{*/
    /*padding:10px;*/
/*}*/
hr{
    margin:0;
    border:1px solid gainsboro;
}
.media:first-child{
    margin-top:10px;
}
.everyone-talk{
    text-align: center;
    color:white;
}
.video-info div{
    margin-top: 20px;
    border:1px solid gainsboro;
    background-color: white;
    margin-bottom: 8px;
}
.video-info a{
    display: inline-block;
}
.video-img,.related-courses-img{
    padding: 20px 30px;
    background-color: white;
}
.video-img img,.related-courses-img img{
    width: 100%;
}
.video-info div label{
    display: block;
    font-weight: 600;
    margin-top: 5px;
    margin-left: 3px;
}
.video-info div label span{
    font-weight:500;
}
.related-courses-box{
    margin-left: 0;
    margin-right:0;
    background-color: white;
    border-bottom:2px solid #f5f4f2;
}
.left{
    padding-left: 0;
    padding-right: 30px
}
._footer_t{
    height:200px;
    background-color: gainsboro;
    font-size: 25px;
    text-align: center;
    /*padding-top: 3%;*/
    padding: 5% 5%;
}
._footer_box,._footer_box2{
    /*height: 500px;*/
    background-color: #333;
    color: white;
    padding: 1% 12% !important;
    padding-bottom: 0 !important;
    /*border-bottom: 1px solid white;*/
}
._footer_box2{
    padding: 0.5% 7% !important;
    padding-top:0 !important;
    /*text-align: center;*/
}
._footer_b{
    padding: 2% 10% !important;
    margin-bottom: 1% !important;
    /*border-bottom: 1px solid white;*/
}
._footer_c{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding-top: 1%;
    padding-bottom: 1%;
}
._footer_c a{
    display:inline-block;
    /*background-color: red;*/
    margin: 1%  4% !important;
    /*border: 1px solid white;*/
}
._footer_b a{
    /*background-color: red;*/
    margin: 0  5.4% !important;
    color: white;
    text-decoration:none !important;
    cursor:pointer;
    /*padding: 5% 7%;*/
}
.hr{
    color: white !important;
    height: 1px;
}
._footer a:hover{
    color: white;
}
._footer_nav{
    background-color: black;
    height: 100px;
    opacity: 0.7;
}
._footer_nav input,._footer_nav a{
    margin-right: 2%;
    top: 50%;
    margin-top: -10px;
    background-color: white;
    border: none;
    line-height: 2em;
    border-radius: 4px;
    text-align: center;
    height: 2em;
}
._footer_nav a{
    cursor: pointer;
    text-decoration: none !important;
}
._login_access{
    background-color: orange !important;
    color: black !important;
}
._login_access:hover{
    opacity: 0.8;
}
a:active{
    outline: none !important;
}
._footer_box2{
    position: relative;
}
._footer_box2 ._linked{
    margin-bottom: 3%;
}
._footer_box2 ul{
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    margin-left: 20%;
    /*position:absolute;*/
    /*left: 20%;*/
    /*margin-left: 50%;*/
}
._footer_box2 ul li{
    display: inline-block;
    float: left;
    list-style: none;
}
._footer_box2 ul li{
    display: inline-block;
    margin-left:5%;
    margin-right: 5%;
}
._footer_box2 a{
    text-align: center;
    margin-top: 1%;
    text-decoration: none !important;
    cursor: pointer;
    margin-bottom: 1%;
    color: white;
    /*display: block;*/
}
._footer_box2 a label{
    display: inline-block;
    margin: 0 1%;
}
._box3{
    text-align: center;
    padding-bottom: 3% !important;
}
/*友情链接*/
._friendly_link{
    display: block;
    width: 5%;
    height: 20px;
    position: absolute;
    top:-10px;
    left: 50%;
    margin-left: -2.25%;
    background-color: #333;
    text-align: center;
}
.tab-label{
    margin: 30px 5% 30px;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
#page{
    width: 100%;
}
.media-box{
    background-color: white;
    font-size: 12px;
}
.thread-box{
    border-top:2px solid #f5f4f2;
    position: relative;
}
.thread{
    background-color: #f9fafb;
    display: table-cell;
    text-align: center;
    vertical-align: top;
    padding: 20px;
}
.thread-img{
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 16px;
}
/*所有人评论*/
.media-object{
    border-radius: 50%;
}
.thread-aside{
    background-color: #fff;
    display: table-cell;
    overflow: hidden;
    padding-bottom: 56px;
    position: relative;
    vertical-align: top;
    width: 100%;
}
.thread-main{
    margin:10px 24px;
}
.fr{
    float:right;
}
.thread-num-first{
    color: #ff6565;
}
.thread-item-label{
    background: #f9f9f9;
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 14px;
    margin: 15px 90px 10px 24px;
}
.thread-foot {
    color: #9c9c9c;
    display: block;
    font-size: 14px;
    margin: 14px 24px 14px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
.thread-btn{
    background-color: #fff;
    border: 1px solid #c7c7c7;
    border-radius: 4px;
    color: #4d4d4d;
    font-size: 12px;
    margin-right: 10px;
    padding: 4px 10px 3px;
}
.thread-img img {
    width: 86px;
    height: 86px;
    margin: auto;
}
.space{
    margin-left: 0;
    margin-right:0;
    /*padding-bottom: 15px;*/
    border-bottom: 2px solid #f5f4f2;
}
#everyone-talk,#related-class{
    /*position: absolute;*/
    background-color: white !important;
}
#related-class >div:first-child{
    margin-top:40px;
}
.pagination > li > a{
    padding:5px 10px;
}
.pagination {
    margin: 20px 0 30px;
}
#everyone-talk,#related-class{
    font-size: 12px;
}
section {
    width: 36%;
    margin: auto;
    text-align: left;
    position: fixed;
    top:50%;
    left: 50%;
    margin-left:-340px;
    margin-top:-125px;
    z-index: 3001;
}
#editor_bottom{
    background-color:white;
    width: 100%;
    height: 40px;
    text-align:center;
    line-height:40px;
    border-bottom:5px solid black;
}
#cancel,#publish{
    padding: 4px 20px !important;
    background-color: black !important;
    margin: 0 24px !important;
    /*border-radius: 5px;*/
    color: white !important;
}
.modal-dialog{
    top:30%;
    width:350px;
}
.modal-body label{
    display: block;
}
.form-input{
    background: url('../images/free_class/sp_v.png');
    background-position: -2px -74px;
    height: 20px;
    margin-right: 10px;
    position: relative;
    top: 4px;
    width: 20px;
    display: inline-block;
}
.form-txt{
    height: 24px;
    line-height: 24px;
    color:#333;
    font-size:16px;
    font-weight: 500;
}
.form-input-checked{
    background-position: -26px -74px;
}
#typw_area{
    padding: 20px 20px 0 20px;
}
#typw_area div{
    width: 100%;
    height: 80px;
    border-radius:5px;
    border: 1px solid gainsboro;
}
